@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-pause: var(--pause);
  --color-nature: var(--nature);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-gray-foreground: var(--gray-foreground);
  --color-gray: var(--gray);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  /* Base */
  --background: oklch(0.08 0 0);
  --foreground: oklch(0.96 0 0);

  /* Cards & surfaces */
  --card: oklch(22.045% 0.03051 269.667);
  --card-foreground: oklch(0.984 0.003 247.858);

  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);

  /* Primary (brand / action) */
  --primary: oklch(54.6% 0.245 262.881);
  --primary-light: oklch(70.401% 0.15836 253.646);
  --primary-foreground: oklch(0.12 0.02 260);

  /* Secondary */
  --secondary: oklch(0.18 0.02 260);
  --secondary-foreground: oklch(0.94 0.01 260);

  /* Muted */
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);

  /* Gray */
  --gray: oklch(87.2% 0.01 258.338);
  --gray-foreground: oklch(37.3% 0.034 259.733);

  /* Accent */
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);

  /* Destructive */
  --destructive: rgb(231, 0, 11);
  --destructive-foreground: oklch(0.98 0 0);

  /* Pause */
  --pause: oklch(0.769 0.188 70.08);
  --pause-foreground: oklch(0.98 0.02 70.08);

  /* Nature */
  --nature: oklch(0.63 0.17 149);
  --nature-foreground: oklch(0.98 0.02 156);

  /* Borders & inputs */
  --border: oklch(1 0 0 / 15%);
  --input: oklch(1 0 0 / 17.5%);
  --ring: oklch(70.7% 0.165 254.624);

  /* Charts */
  --chart-1: oklch(0.7 0.18 220); /* Cyan */
  --chart-2: oklch(0.65 0.2 230); /* Sky Blue */
  --chart-3: oklch(0.6 0.18 240); /* Blue */
  --chart-4: oklch(0.55 0.16 250); /* Deep Blue */
  --chart-5: oklch(0.5 0.14 260); /* Navy */

  /* Sidebar */
  --sidebar: oklch(0.09 0.01 260);
  --sidebar-foreground: oklch(0.92 0.01 260);
  --sidebar-primary: oklch(54.6% 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.12 0.02 260);
  --sidebar-accent: oklch(0.18 0.02 260);
  --sidebar-accent-foreground: oklch(0.94 0.01 260);
  --sidebar-border: oklch(0.22 0.02 260);
  --sidebar-ring: rgb(21, 93, 251);

  /* Radius */
  --radius: 0.625rem;
}

/* Background Cookiebanner */

.blue-glassmorphism {
  background: rgba(21, 93, 251, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes gradient-reverse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.animate-gradient {
  animation: gradient 8s ease-in-out infinite;
}

.animate-gradient-reverse {
  animation: gradient-reverse 8s ease-in-out infinite;
}

@theme {
  --animate-border-pulse: border-pulse 2s ease-in-out infinite;
}

@keyframes border-pulse {
  0%,
  100% {
    border-width: 0px;
    border-color: transparent;
  }
  50% {
    border-width: 1px;
    border-color: oklch(87.2% 0.01 258.338);
  }
}
